.git/**
.github/**
.vscode/**
.vscode-test/**
.gitignore

**/*.ts
**/*.map
**/*.test.ts
**/*.tsbuildinfo

src/**
server/src/**
scripts/**
test-workspace/**

language-configuration.base.json
syntaxes/bricklua.tmLanguage.base.json

tsconfig.json
server/tsconfig.json
server/package-lock.json

CONTRIBUTING.md

.vscode/**
.git/**
.github/**
src/**
scripts/**
*.vsix
dist/**
tsconfig.json
package-lock.json
npm-debug.log

**/*.map
**/*.ts
**/tsconfig.json

node_modules/@types/**
node_modules/typescript/**